@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #2f2a84;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    height: 120px;
    margin-bottom: 10px;
}
.logo > img {
    display: block;
    margin: 0 auto;
    height: 100%;
}
h1 {
    text-align: center;
    max-width: 200px;
    margin-bottom: 30px;
}
#button {
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ff9d5a;
    color: #fff;
    margin-bottom: 20px;
}
#button:hover {
    background: #ff8b3d;
}
#num {
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    outline: none;
    border: none;
}
.prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prompt > p {
    font-size: 12px;
    margin-bottom: 5px;
    margin-bottom: 20px;
}
#result {
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}